.paragraph{
    color:white;
    background-color:red;
    text-align: center;
    padding:  20px;
    bottom: 0%;
    width: 100%;
    font-size: 1rem;
}

.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  